<!DOCTYPE html>
<html ng-app="chronos">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="options">
    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-volume-off"
      style="color:rgb(107, 107, 107);"
    ></span></button>
    <button type="button" id="mute" class="btn btn-default btn-lg" data-toggle="modal" data-target="#optionsModal"
    ><span class="glyphicon glyphicon-menu-hamburger"
      style="color:rgb(107, 107, 107);"
    ></span></button>
  </div>
  <div class="heading">
    <h1>Welcome to Chronos!!</h1>
</div>

<div class="circleTimer">
<svg width="500" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(110,110)">
     <circle r="100" class="base"/>
     <g transform="rotate(-90)">
        <circle r="100" class="progress"/>
        <g id="circle-pointer">
           <circle cx="100" cy="0" r="8" class="pointer"/>
        </g>
     </g>
  </g>
</svg>
</div>

  <!-- Modal -->
  <div class="modal fade" id="optionsModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Options</h4>
        </div>
        <div class="modal-body">
          <input type="checkbox" id="unchecked" class="cbx hidden"/>
          <label for="unchecked" class="lbl"></label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="timerControl">
<div class="remainingTime" id="remainingTime">25:00
</div>



<script>
window.onload = pageLoad;

function pageLoad() {
    var startButton = document.getElementById("pause");

    startButton.onclick = alertMe;
}

function alertMe() {
  // Set the date we're counting down to
  var startTime = new Date().getTime();
  var endTime = new Date(startTime + 25*60*1000);

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = endTime - now;

    // Time calculations for days, hours, minutes and seconds
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("remainingTime").innerHTML = minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
}


</script>





<button class="play" id="pause"></button>
</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
