<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="heading">
    <h1 style="margin:12px;">chronos</h1>
  </div>
  <div class="options">
    <button type="button" class="btn btn-default btn-lg" id="sound" style="border-style:none;"><span class="glyphicon glyphicon-volume-up"
      style="color:rgb(107, 107, 107);" id="soundButton"
    ></span></button>
    <% if (!loggedIn) { %>
    <a href="/login" target="loginFrame"><button type="button" id="login" class="btn btn-default btn-lg" data-toggle="modal" data-target="#loginModal"
    ><span class="glyphicon glyphicon-log-in"
      style="color:rgb(107, 107, 107);"
    ></span></button></a><% } %>
    <!--  vvv IF LOGGED IN vvv   -->
    <% if (loggedIn) { %>
    <a href="/list" target="taskFrame"><button type="button" id="list" class="btn btn-default btn-lg" data-toggle="modal" data-target="#taskModal"
    ><span class="glyphicon glyphicon-list"
      style="color:rgb(107, 107, 107);"
    ></span></button></a><% } %>
    <button type="button" id="options" class="btn btn-default btn-lg" data-toggle="modal" data-target="#optionsModal"
    ><span class="glyphicon glyphicon-cog"
      style="color:rgb(107, 107, 107);"
    ></span></button>
  </div>

  <div class="container">
    <button style="visibility: hidden;" id="clearTask" type="button" class="close" onclick="setDefault();">&times;</button>
    <div class="currentDesc" id="currentDesc"></div>



  <div class="circleTimer">
    <svg width="500" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(110,110)">
        <circle r="100" class="base" id="base"/>
        <g >
          <circle r="100" class="progress" id="progress"/>
        </g>
      </g>
    </svg>
  </div>
  <div class="timerControl">
    <div class="remainingTime" id="remainingTime">--:--
    </div>

    <button class="play" id="pause"></button>
    <button class="stop" id="stop" style="visibility: hidden;"></button>
  </div>
</div>


<!-- LOGIN MODAL -->
<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <iframe src="/login" name="loginFrame" id="loginFrame" frameborder="0" ></iframe>
      </div>
      <div class="modal-footer"><br>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="align:bottom;">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END LOGIN MODAL -->

<!-- TASK MODAL -->
<div class="modal fade" id="taskModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tasks</h4>
      </div>
      <div class="modal-body">
        <iframe src="/list" name="taskFrame" id="taskFrame" frameborder="0"></iframe>
      </div>

      <div class="modal-footer"><br>
        <span style="float:left;">
        <a href="/tasks" target="taskFrame"><button type="button" class="btn btn-default">Add a Task</button></a>
      </span>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="align:bottom;">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END TASK MODAL -->

  <!-- OPTIONS MODAL -->
  <div class="modal fade" id="optionsModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Options</h4>
        </div>
        <div class="modal-body">
          <form>

            Session Length (in minutes):<br>
            <input type="number" id="customSession" value="25" min="1" oninput="validity.valid||(value='');"><br>
            Break Length (in minutes):<br>
            <input type="number" id="customBreak" value="5" min="1" oninput="validity.valid||(value='');"><br><br>

          </form>
          <button type="button" id="setCustom" class="btn btn-default">Save</button>
          <button type="button" id="default" class="btn btn-default">Default</button>
          <button type="button" id="test" class="btn btn-default">Test</button>

        </div>
        <div class="modal-footer" style="float:left;"><p>Loop:</p>
          <input type="checkbox" id="loop" class="cbx hidden"/>
          <label for="loop" class="lbl"></label>

        </div>
        <div class="modal-footer"><br>
<!-- IF LOGGED IN -->
<form method="post" action="/logout"><% if (loggedIn) { %>
  <button type="submit" class="btn btn-default btn-lg" id="Submit" style="border-style:none;"><span class="glyphicon glyphicon-log-out"
    style="color:rgb(107, 107, 107);" id="logoutButton"
  ></span></button> <% } %>
  <button type="button" class="btn btn-default" data-dismiss="modal" style="align:bottom;">Close</button>
  </form>
        </div>
      </div>
    </div>
  </div>
<!-- END OPTIONS MODAL -->



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/timer.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
