<!DOCTYPE html>
<html ng-app="chronos">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="options">
    <button type="button" class="btn btn-default btn-lg" id="sound" style="border-style:none;"><span class="glyphicon glyphicon-volume-off"
      style="color:rgb(107, 107, 107);"
    ></span></button>
    <button type="button" id="mute" class="btn btn-default btn-lg" data-toggle="modal" data-target="#optionsModal"
    ><span class="glyphicon glyphicon-menu-hamburger"
      style="color:rgb(107, 107, 107);"
    ></span></button>
  </div>
  <div class="heading">
    <h1>Welcome to Chronos!</h1>
</div>

<div class="circleTimer">
<svg width="500" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(110,110)">
     <circle r="100" class="base"/>
     <g >
        <circle r="100" class="progress"/>
  <!--      <g id="circle-pointer">
           <circle cx="100" cy="0" r="8" class="pointer"/>
        </g>-->
     </g>
  </g>
</svg>
</div>

<!--<div class="item html">
  <svg width="500" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
     <g>
      <circle id="circle" class="circle_animation" r="100"  stroke-width="8" stroke="#6fdb6f" fill="none"/>
     </g>
    </svg>
</div>-->
  <!-- Modal -->
  <div class="modal fade" id="optionsModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Options</h4>
        </div>
        <div class="modal-body">
          <button type="button" id="test" class="btn btn-default">Test</button>
          <button type="button" id="default" class="btn btn-default">Default</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="timerControl">
<div class="remainingTime" id="remainingTime">--:--
</div>

<button class="play" id="pause"></button>
<button class="stop" id="stop" style="visibility: hidden;"></button>
</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/timer.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
